.article-container {
  width: 100%;
}

.article {
  padding-top: 40px;
}

.article-image a {
  display: block;
}

.article-title {
  margin-bottom: 5px;
  font-size: 1.8em;
  line-height: 1.2;
}

.article-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  line-height: 1.2;
  color: #333;
}

.article-image {
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.article-image img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.article-image:hover {
  transform: scale(0.98);
}


#article-section {
  width: 45%;
  max-width: 1200px;
  padding: 30px 10px;
  margin: 0 auto;
}

@media (max-width: 950px) {
    #article-section {
      padding-top: 30px;
      width: 85%;
    }
}

@media (max-width: 600px) {
    #article-section {
        width: 80%;
        padding-top: 60px;
    }
}

@media (max-width: 400px) {
    #article-section {
        width: 90%;
    }
}