<input type="checkbox" id="hamburger-toggle" class="hamburger-checkbox">
<label for="hamburger-toggle" class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</label>

<div class="side-nav-container">
    <div class="side-nav-wrapper">
        {{ if .TableOfContents }}
            {{ partial "sidebar.html" . }}
        {{ end }}
        <div class="sidebar-toggle">
            {{ partial "lightdarktoggle.html" . }}
        </div>
    </div>
</div>

<section id="text-section">
    <h1 id="text-title">{{ partial "title.html" (dict "title" .Title) }}</h1>
    <div class="text-container">
        <div class="text">
            <h2 class="text-subtitle">{{ .Params.subtitle }}</h2>
            <h2 class="text-date">{{ .Date.Format "January 2, 2006" }}</h2>
            <div class="text-content">{{ .Content }}</div>
        </div>
    </div>
</section>

