<section id="article-section">
    {{ partial "title.html" (dict "title" .title) }}
    <div class="article-container">
        {{ range .pages}}
            <div class="article">
                <div class="article-image">
                    <a href="{{ .RelPermalink }}">
                        <img src="/images/{{ .Params.image }}" alt="{{ .Title }}">
                    </a>
                    <h2 class="article-title">{{ .Title }}</h2>
                    <p class="article-subtitle">{{ .Params.subtitle }}</p>
                </div>
            </div>
        {{ end }}
    </div>
</section>
